In [1]:
import pandas as pd
import numpy as np

This is Chapter 14 Data Indexing and Selection.

## Data Selection in Series

It turns out selecting is a pretty important and not so easy topic. In particular in NumPy we have lots of ways to select data:
> These included indexing (e.g., `arr[2, 1]`), slicing (e.g., `arr[:, 1:5]`), masking (e.g., `arr[arr > 0]`), fancy indexing (e.g., `arr[0, [1, 5]`]), and combinations thereof (e.g., `arr[:, [1, 5]]`).

### Series as Dictionary

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])

In [3]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [4]:
data['b']

np.float64(0.5)

In [49]:
# data.b

In [5]:
'a' in data

True

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
list(data.keys())

['a', 'b', 'c', 'd']

In [8]:
data.items()

In [9]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [10]:
data['e'] = 1.25

In [11]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as One-Dimensional Array

In [12]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Slicing, masking and fancy indexing are all available.

In [13]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [14]:
# implicit index (not sure this is the best practice - see below)
data[0:2]

a    0.25
b    0.50
dtype: float64

In [15]:
data[2]

/var/folders/5r/36v862y17991gp14kn_1mn_40000gn/T/ipykernel_2245/1082122490.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[2]

np.float64(0.75)

In [16]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [17]:
# masking
data[data > .3]

b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [18]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc and iloc

In [19]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])

In [20]:
data

1    a
3    b
5    c
dtype: object

In case of integer indicies there's a confusion between explicit and implicit indicies, so better to use `loc` (explicit) and `iloc` (implicit).

In [21]:
data.loc[1], data.iloc[0], data.iloc[1]

('a', 'a', 'b')

In [22]:
data.loc[3]

'b'

In [23]:
try:
    data.iloc[3]
except IndexError:
    print("That implicit index is out of bound...")

That implicit index is out of bound...

In [24]:
data.loc[1:3]

1    a
3    b
dtype: object

In [25]:
data.iloc[1:3]

3    b
5    c
dtype: object

## Data Selection in DataFrames

### DataFrame as Dictionary

In [26]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'Florida': 170312, 'New York': 141297,
                  'Pennsylvania': 119280})

In [27]:
pop = pd.Series({'California': 39538223, 'Texas': 29145505,
                 'Florida': 21538187, 'New York': 20201249,
                 'Pennsylvania': 13002700})

In [28]:
data = pd.DataFrame({'area': area, 'pop': pop})

In [29]:
data

                area       pop
California    423967  39538223
Texas         695662  29145505
Florida       170312  21538187
New York      141297  20201249
Pennsylvania  119280  13002700

In [30]:
data['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [31]:
data.area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [32]:
data['density'] = data['pop'] / data['area']

In [33]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

### DataFrame as Two-Dimensional Array

In [34]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [35]:
data.values

array([[4.23967000e+05, 3.95382230e+07, 9.32577842e+01],
       [6.95662000e+05, 2.91455050e+07, 4.18960717e+01],
       [1.70312000e+05, 2.15381870e+07, 1.26463121e+02],
       [1.41297000e+05, 2.02012490e+07, 1.42970120e+02],
       [1.19280000e+05, 1.30027000e+07, 1.09009893e+02]])

In [36]:
data.T

           California         Texas       Florida      New York  Pennsylvania
area     4.239670e+05  6.956620e+05  1.703120e+05  1.412970e+05  1.192800e+05
pop      3.953822e+07  2.914550e+07  2.153819e+07  2.020125e+07  1.300270e+07
density  9.325778e+01  4.189607e+01  1.264631e+02  1.429701e+02  1.090099e+02

In [37]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [38]:
try:
    data['Florida']
except KeyError:
    print("Use loc or iloc instead...")

Use loc or iloc instead...

In [39]:
data.loc['Florida']

area       1.703120e+05
pop        2.153819e+07
density    1.264631e+02
Name: Florida, dtype: float64

In [40]:
data.iloc[2]

area       1.703120e+05
pop        2.153819e+07
density    1.264631e+02
Name: Florida, dtype: float64

And again any NumPy data approaches to data access can be applied in pandas as well. We may get some data or modify them.

In [41]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [42]:
# masking
data.loc[data.density > 120]

            area       pop     density
Florida   170312  21538187  126.463121
New York  141297  20201249  142.970120

In [43]:
#masking and fancy indexing
data.loc[data.density > 120, ['pop', 'density']]

               pop     density
Florida   21538187  126.463121
New York  20201249  142.970120

## Additional Indexing Conventions

In Pandas you should always pay attention to the difference between rows and columns. Some operations are applied to rows and some for columns:
> First, while indexing refers to columns, slicing refers to rows. Such slices can also refer to rows by number rather than by index. Similarly, direct masking operations are interpreted row-wise rather than column-wise and so on.

In [44]:
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [45]:
data['Florida':'New York']

            area       pop     density
Florida   170312  21538187  126.463121
New York  141297  20201249  142.970120

In [46]:
data[1:3]

           area       pop     density
Texas    695662  29145505   41.896072
Florida  170312  21538187  126.463121

In [47]:
data[data.density > 120]

            area       pop     density
Florida   170312  21538187  126.463121
New York  141297  20201249  142.970120